# NYC TAXI TRIP DURATION PREDICTION

## Hypothesis Generation

  ## Impacts on Trip time:
   ### Area
      May rural area takes time to find the right place to drop?
      In between Areas traffics 
   ### Car Condition
      Is Car condition affects the trip
   ### driver
      If low experience driver takes time to drop?
      If age of driver is medium and experienced driver ,takes minimum time for a trip?
      If age of dirver is high , he goes slowly so it takes time 
   ### customer Type
      single customer takes less time to start a trip?
      if more than one customer like family , takes time in dropping place and  starting place
   ### payment
      cash online transaction, atm and get money

   ### Timing Of Travel
      If trip time is office timing, school timing , it takes time to complete more time
   ### Trip type
       if trip is to catch a train or other important work , they dont want to stop  in between areas
       if any other normal trip , they will stop a car get some important things to get 
   ### weather
       
       1.Is starting time of travel morning 8 to 10 , duration of trip is increase?
       2.Is starting time of travel evening 6 to 10 duration of trip is high?
       3.If Seasons is  Monsoon or Winter,  trip time is differ from normal time?
       4.No of Passanger count affects trip time?
       6.Is driver waiting for payment, takes trip time high?
       7.Is Experienced driver takes appropriate time to complete trip?
       8.Is age of customer affects the trip timing?
       9.Is Route of travel is outer(assume no traffic) , it takes normal time to complete? 
       10.Is weekend trip takes less time?
       11.Is weekend evening trip is takes more time?
       12.is drop place is a city , takes more time?
       13.is drop place has a more schools, stores, malls takes more time?

## Exploratory Data Analysis

In [1]:
# importing libraries
import pandas as pd

In [2]:
df = pd.read_csv("nyc_taxi_trip_duration.csv")

In [3]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,400
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,1100
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,1635
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,1141
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,848

In [4]:
df.tail()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
729317,id3905982,2,2016-05-21 13:29:38,2016-05-21 13:34:34,2,-73.965919,40.789780,-73.952637,40.789181,N,296
729318,id0102861,1,2016-02-22 00:43:11,2016-02-22 00:48:26,1,-73.996666,40.737434,-74.001320,40.731911,N,315
729319,id0439699,1,2016-04-15 18:56:48,2016-04-15 19:08:01,1,-73.997849,40.761696,-74.001488,40.741207,N,673
729320,id2078912,1,2016-06-19 09:50:47,2016-06-19 09:58:14,1,-74.006706,40.708244,-74.013550,40.713814,N,447
729321,id1053441,2,2016-01-01 17:24:16,2016-01-01 17:44:40,4,-74.003342,40.743839,-73.945847,40.712841,N,1224

In [5]:
#print the shape of the data
df.shape

(729322, 11)

In [6]:
#pint the columns
df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration'],
      dtype='object')

## Varriable Identification and Typecasting

In [7]:
df.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

### Integer Data Type

In [8]:
df.dtypes[df.dtypes=="Int64"]

vendor_id          int64
passenger_count    int64
trip_duration      int64
dtype: object

#### Summary:
 * **Vendor_id , passenger_count, trip_duration**  are  number values it's okay.

### Float Data type

In [9]:
df.dtypes[df.dtypes == "float64"]

pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
dtype: object

### summary
* **pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude** are real numbers so its okay as a float

## Object Data Type

In [10]:
df.dtypes[df.dtypes == "object"]

id                    object
pickup_datetime       object
dropoff_datetime      object
store_and_fwd_flag    object
dtype: object

### summary
* **pickup_datetime,dropoff_datetime** is a datetime varriable
*  **store_and_fwd_flag** belongs to a categorical varriable

In [11]:
# convert data type of store_and_fwd_flag into category object
df["store_and_fwd_flag"] = df["store_and_fwd_flag"].astype("category")

## datetime Data Type

In [12]:
# creating an instance(date) of DatetimeIndex class using "pickup_datetime and dropoff_datetime"
date = pd.DatetimeIndex(df['pickup_datetime'])
date1 = pd.DatetimeIndex(df['dropoff_datetime'])

In [13]:
# extracting new columns from "last_transaction"

# last day of year when pickup was done
df['doy_pickup'] = date.dayofyear

# week of year when pickup was done
df['woy_pickup'] = date.weekofyear

# month of year when pickup was done
df['moy_pickup'] = date.month

# day of week when pickup  was done
df['dow_pickup'] = date.dayofweek

# day of week when pickup  was done
df['dow_dropoff'] = date1.dayofweek

In [14]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,doy_pickup,woy_pickup,moy_pickup,dow_pickup,dow_dropoff
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,400,60,9,2,0,0
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,1100,71,10,3,4,4
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,1635,52,7,2,6,6
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,1141,5,1,1,1,1
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,848,48,7,2,2,2